:root {
--bg-color: black;
--page-spacing: 50px;
--bar-spacing: 10px;
--bar-color: #7892c2;
--bar-hover: #476e9e;
--font-text: 'Space Mono', monospace;
--font-header: 'Major Mono Display', monospace;
}

/*------------------TITLES & BODY------------------*/


h1 {
  text-align: center;
  color: white;
  font-family: 'Major Mono Display', monospace;
}

body {
  background-color: black;
}

